# Los Angeles Crime

In [23]:
# Import libraries and data
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('data/crimes.csv')
print(data.info())
print(data.head(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185715 entries, 0 to 185714
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DR_NO         185715 non-null  int64
 1   Date Rptd     185715 non-null  object
 2   DATE OCC      185715 non-null  object
 3   TIME OCC      185715 non-null  int64
 4   AREA NAME     185715 non-null  object
 5   Crm Cd Desc   185715 non-null  object
 6   Vict Age      185715 non-null  int64
 7   Vict Sex      185704 non-null  object
 8   Vict Descent  185705 non-null  object
 9   Weapon Desc   73502 non-null   object
 10  Status Desc   185715 non-null  object
 11  LOCATION      185715 non-null  object
dtypes: int64(3), object(9)
memory usage: 17.0+ MB
None
       DR_NO   Date Rptd    DATE OCC  TIME OCC    AREA NAME  \
0  220314085  2022-07-22  2020-05-12      1110    Southwest
1  222013040  2022-08-06  2020-06-04      1620      Olympic
2  220614831  2022-08-18  2020-08-17      1200    Hollywood
3  231207725  2023-02-27  2020-01-27       635  77th Street
4  220213256  2022-07-14  2020-07-14       900      Rampart

         Crm Cd Desc  Vict Age Vict Sex Vict Descent Weapon Desc  Status Desc  \
0  THEFT OF IDENTITY        27        F            B         NaN  Invest Cont
1  THEFT OF IDENTITY        60        M            H         NaN  Invest Cont
2  THEFT OF IDENTITY        28        M            H         NaN  Invest Cont
3  THEFT OF IDENTITY        37        M            H         NaN  Invest Cont
4  THEFT OF IDENTITY        79        M            B         NaN  Invest Cont

                                  LOCATION
0  2500 S  SYCAMORE                     AV
1  3300    SAN MARINO                   ST
2                        1900    TRANSIENT
3  6200    4TH                          AV
4  1200 W  7TH                          ST

In [24]:
# Data cleaning
data['Date Rptd'] = pd.to_datetime(data['Date Rptd'])
data['DATE OCC'] = pd.to_datetime(data['DATE OCC'])
data.rename(columns={'DR_NO': 'Record number',
                    'Date Rptd': 'Date Crime Reported', 
                    'DATE OCC': 'Date Crime Occurred', 
                    'Crm Cd Desc': 'Crime Committed',
                    'TIME OCC': 'Time Occurred',
                    'LOCATION': 'Location'}, inplace=True)
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185715 entries, 0 to 185714
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Record number        185715 non-null  int64
 1   Date Crime Reported  185715 non-null  datetime64[ns]
 2   Date Crime Occurred  185715 non-null  datetime64[ns]
 3   Time Occurred        185715 non-null  int64
 4   AREA NAME            185715 non-null  object
 5   Crime Committed      185715 non-null  object
 6   Vict Age             185715 non-null  int64
 7   Vict Sex             185704 non-null  object
 8   Vict Descent         185705 non-null  object
 9   Weapon Desc          73502 non-null   object
 10  Status Desc          185715 non-null  object
 11  Location             185715 non-null  object
dtypes: datetime64[ns](2), int64(3), object(7)
memory usage: 17.0+ MB
None